!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en' }
  %head
    %title= ['The Quest for Life', yield(:title)].compact.join(' - ')
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    = stylesheet_link_tag 'application', media: 'screen, projection'
    = javascript_include_tag 'jquery-1.3.2.min.js'
    = javascript_include_tag 'jquery-ui-1.7.1.custom.min.js'
    = javascript_include_tag 'selectToUISlider.jQuery.js'
    = javascript_include_tag 'DD_roundies.uicornerfix.js'

    /[if IE]
      = javascript_include_tag 'excanvas.compiled.js'
    = javascript_include_tag 'visualize.jQuery.js'
    = javascript_include_tag 'highcharts.js'
    = javascript_include_tag 'http://www.highcharts.com/highslide/highslide-full.min.js'
    = javascript_include_tag 'http://www.highcharts.com/highslide/highslide.config.js'

    = javascript_include_tag 'application'
    = render :partial => '/shared/disqus_variables'

  %body{:lang => 'en', :class => 'nojs'}
    :javascript
      $('body').removeClass('nojs').addClass('js');

    #page
      .banner
        %h1
          %a{:href => '/'}
            The Quest for Life

      #header
        #main-nav
          = render :partial => '/home/equation'

      #content

        #sidebar
          %blockquote.signage
            %p.iya
              %a{:href => 'http://astronomy2009.org/', :target => "_blank"}
                The Universe: Yours to discover. International Year of Astronomy 2009

            %p.twitter
              %a{:href => 'http://www.twitter.com/home?status=See+how+many+alien+civilizations+you+can+find+at+http://quest-for-life.org', :target => "_blank"}
                = image_tag 'twitter_logo.png', :alt => '', :size => '80x18'
                Post to your Twitter account

        #main
          %h2= yield :heading

          - if flash.any?
            #flash
              - flash.keys.each do |key|
                %div{ :class => key }= flash[key]

          = yield

      #footer
        = render :partial => 'layouts/footer_menu'
        %p
          = render :partial => 'layouts/copyright'

    = render :partial => '/layouts/uservoice'
    - if Rails.env.production?
      = render :partial => '/layouts/ga_tracking'
